@import url('//fonts.googleapis.com/css2?family=Oswald:wght@396&display=swap');
@font-face {
    font-family: 'living_hellregular';
    src: url('LivingHell.woff2') format('woff2'),
         url('LivingHell.woff') format('woff');
	 url('living_hell-webfont.tff') format('tff');
    font-weight: normal;
    font-style: normal;
}

/* Generic text font types etc. */
body {
    margin: 20px auto;
    width: 100%;
}
h1 {
    font-size: 7em;
    font-family: 'living_hellregular';
    line-height: 1.4em;
    color: white;
    font-weight: normal;
}

h2 {
    font-family: 'living_hellregular';	
    font-size: 10em;
    line-height: 1.4em;
    color: white;
    font-weight: normal;
}

h3 {
    font-size: 5em;
    font-family: 'living_hellregular';
    line-height: 1.4em;
    color: white;
    font-weight: normal;
}

p {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 400;
    line-height: 1.4em;
    font-size: 4em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
height: auto;

}

nav {
    position: sticky; top: 0;
}
	




	
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body nav {
  position: sticky;
  top: 0;
}
ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
}
li {
  list-style: none;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
}
li a {
  text-decoration: none;
  color: #1ac;
}
section {
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 50px;
  font-weight: bold;
  background: #eee;
}
	
