@import url('//fonts.googleapis.com/css2?family=Oswald:wght@396&display=swap');
@font-face {
    font-family: 'living_hellregular';
    src: url('LivingHell.woff2') format('woff2'),
         url('LivingHell.woff') format('woff');
	 url('living_hell-webfont.tff') format('tff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 60px auto;
    width: 70%;
}
h1 {
    font-size: 5em;
    font-family: 'living_hellregular';
    line-height: 1.4em;
    color: white;
    font-weight: normal;
}

h2 {
    font-family: 'living_hellregular';	
    font-size: 3em;
    line-height: 1.4em;
    color: white;
    font-weight: normal;
}
p {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 400;
    line-height: 1.4em;
    font-size: 1em;
    font-size: 20px;
    padding: 70px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


