@font-face {
    font-family: 'living_hellregular';
    src: url('LivingHell.woff2') format('woff2'),
         url('LivingHell.woff') format('woff');
	 url('living_hell-webfont.tff') format('tff');
    font-weight: normal;
    font-style: normal;
} 
body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family: 'living_hellregular', 'Open Sans';
    padding: 10px;
    list-style: none;
    font-weight: normal;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 3em;
    font-family: 'living_hellregular','Open Sans';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
