<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}/title>
				<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
			<iframe src="http://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&mute=1" width="540" height="315" frameborder="0" allowfullscreen></iframe>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>GET FUCKING REKT</h1>
				<p>HHHAHAHAHAHAHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwoah</p>
			    		<ul>
        		<li><a href="/">Home!</a></li>
			<li><a href="https://www.instagram.com/literalhat/">Instagram</a></li>
    		</ul>
    		</div><!-- /.blurb -->
     		{{ content }}
		</div><!-- /.container -->
		<footer>
		</footer>
	</body>
</html>
